body {
  background-color: bisque;
}

/* navbar */

.navbar {
  height: 52px;
  width: 100vw;
  background-color: #7a2e09;
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar .app-name-container {
  margin-left: 12px;
  display: flex;
  flex-direction: row;
}
.app-name-container:hover {
  cursor: pointer;
}

.navbar .app-icon-container {
  align-items: center;
  display: flex;
}

.link-to-home {
  font-family: Poppins;
  font-size: 22px;
  color: #fefcfa;
  font-weight: 500;
  padding-left: 8px;
  text-decoration: none;
}

.app-icon-container svg {
  height: 22px;
  width: 22px;
  background-color: #fefcfa;
  border-radius: 6px;
  padding: 2px;
}

/* main content */

.main-content {
  font-family: Poppins;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  background-image: url("food-flatlay-1.jpg");
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.window-container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 75vw;
  background-color: #fefcfa;
  border-radius: 12px;
  padding: 20px;
}

.result-container {
  flex: 1;
}

.result-header {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px;
}

.result-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main content: restaurant image */

.image-container {
  width: 260px;
  height: 168px;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid rgb(150, 145, 145);
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.restaurant-image {
  width: 100%;
  height: auto;
}

/* main content: restaurant info */

.restaurant-info {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

@media (min-width: 430px) {
  .restaurant-info {
    padding-bottom: 0;
  }
}

.restaurant-name {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 16px;
  line-height: 36px;
  text-align: center;
}

@media (min-width: 430px) {
  .restaurant-name {
    font-size: 56px;
    line-height: 67px;
  }
}

.price-container {
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 18px;
  font-size: 12px;
}

@media (min-width: 430px) {
  .price-container,
  .google-link {
    font-size: 16px;
  }
}

.google-link {
  font-size: 12px;
}

/* randomizer */

.window-container .randomizer-container {
  display: flex;
  justify-content: center;
}
.randomize-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid rgb(32 31 31);
  padding: 5px 10px;
  width: fit-content;
  border-radius: 4px;
}

@media (min-width: 430px) {
  .randomize-link-container {
    font-size: 16px;
    padding: 8px 16px;
  }
}

.randomize-link {
  color: rgb(32 31 31);
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}

@media (min-width: 430px) {
  .randomize-link {
    font-size: 16px;
  }
}

.randomize-link-container:hover {
  border: 2px solid rgb(32 31 31);
  cursor: pointer;

  /* .randomize-link {
    font-weight: 500;
  } */
}
